<div class="container w-full mx-auto bg-gray-50">
  <div class="bg-white border rounded-md px-3 py-3 mt-5 flex justify-around shadow-lg">
    <div><a routerLink="/home/branch" class="text-gray-500 text-lg px-3 py-2 hover:text-blue-400">Branches</a></div>
    <div><a routerLink="branch-form" class="text-gray-500 text-lg px-3 py-2 hover:text-blue-400">Add Branches</a></div>
    <div><a routerLink="employees" class="text-gray-500 text-lg px-3 py-2 hover:text-blue-400">Employees</a></div>
    <div><a href="#" class="text-gray-500 text-lg px-3 py-2 hover:text-blue-400">Activity</a></div>
  </div>
</div>
<div class="overflow-hidden">
  <router-outlet></router-outlet>
</div>
