<div class="container w-full mx-auto bg-gray-50">
  <div class="bg-white border rounded-md px-3 py-3 mt-5 flex justify-around shadow-lg">
    <div><a routerLink="/home/products" class="text-gray-500 text-lg px-3 py-2 hover:text-blue-400">Products</a></div>
    <div><a routerLink="add-product" class="text-gray-500 text-lg px-3 py-2 hover:text-blue-400">Add Product</a></div>
    <div><a routerLink="sort-products" class="text-gray-500 text-lg px-3 py-2 hover:text-blue-400">Sort</a></div>
    <div><a href="#" class="text-gray-500 text-lg px-3 py-2 hover:text-blue-400">Popular</a></div>
  </div>
</div>
<router-outlet></router-outlet>
