<div class="container mx-auto flex w-full justify-center
rounded-md p-4 font-mono gap-7 flex-wrap mt-10">
  <div class="flex w-[350px] flex-col items-center
  rounded-md bg-white shadow-lg px-3" *ngFor="let details of userDetails;">
    <div class="mt-8 flex w-full justify-center py-2">
      <div class="h-24 w-24 overflow-hidden rounded-full bg-blue-300 ring-4 ring-green-200">
        <img src="#" alt="" />
      </div>
    </div>
    <div class="mt-8 w-full flex-col items-center px-2 text-center text-3xl font-semibold line-clamp-1">
      <h1>{{details.name}}</h1>
    </div>
    <div class="w-full cursor-pointer py-1 text-center text-lg text-blue-800">
      <h1>{{details.email}}</h1>
    </div>
    <div class="w-full text-center text-lg text-slate-500">
      @for (role of details.roles; track role){
        <span>{{role.name + ' '}}</span>
      }
    </div>

    <div class="flex w-full justify-center gap-3 text-center text-slate-500">
      <h1 class="text-gray-700"><span class="text-sm">Branch: </span>{{details.branch.branchId}}</h1>
      <h1 class="text-gray-700"><span class="text-sm">UserId: </span>{{details.id}}</h1>
    </div>

    <div class="flex w-full justify-center gap-16 text-center text-xl text-slate-500 my-9">
      <h1 class="cursor-pointer text-blue-500" (click)="openDialog(details)">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-8 w-8 font-semibold">
          <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
        </svg>
      </h1>
      <h1 class="cursor-pointer text-yellow-300">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-8 w-8 font-semibold">
          <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0M3.124 7.5A8.969 8.969 0 015.292 3m13.416 0a8.969 8.969 0 012.168 4.5" />
        </svg>
      </h1>
      <h1 class="cursor-pointer text-green-500">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8">
          <path fill-rule="evenodd" d="M1.371 8.143c5.858-5.857 15.356-5.857 21.213 0a.75.75 0 010 1.061l-.53.53a.75.75 0 01-1.06 0c-4.98-4.979-13.053-4.979-18.032 0a.75.75 0 01-1.06 0l-.53-.53a.75.75 0 010-1.06zm3.182 3.182c4.1-4.1 10.749-4.1 14.85 0a.75.75 0 010 1.061l-.53.53a.75.75 0 01-1.062 0 8.25 8.25 0 00-11.667 0 .75.75 0 01-1.06 0l-.53-.53a.75.75 0 010-1.06zm3.204 3.182a6 6 0 018.486 0 .75.75 0 010 1.061l-.53.53a.75.75 0 01-1.061 0 3.75 3.75 0 00-5.304 0 .75.75 0 01-1.06 0l-.53-.53a.75.75 0 010-1.06zm3.182 3.182a1.5 1.5 0 012.122 0 .75.75 0 010 1.061l-.53.53a.75.75 0 01-1.061 0l-.53-.53a.75.75 0 010-1.06z" clip-rule="evenodd" />
        </svg>
      </h1>
    </div>
  </div>
</div>
